.deps/
.dirstamp
*.o
*.so
*.swp
*.db
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
config.status.lineno
configure
configure.lineno
depcomp
install-sh
missing
stamp-h?
producer
consumer
*.in
po/stamp-it
mkinstalldirs
*.gmo
po/POTFILES
*.valid
test-driver
tests/tests
*.log
*.trs
